<div class='modebar'>
    <%= link_to 'Back', {:action => 'index'}, :class => 'leftButton' %>
    <h1 class="title">New Task</h1>
</div>

<%= error_messages_for 'task' %>

<div class='panel'>

<% form_tag({:action => 'create', :selected => 'true'}) do %>

  <fieldset>

    <div class="row">
       <label for="task_title">Title:</label>
       <%= text_field 'task', 'title' %>
    </div>

    <div class="row">
       <label for="task_date">Date:</label>
	 <%= calendar_date_select 'task', 'date', :month_year => "label" %> 
    </div>

    <div class="row">
       <label for="task_description">Desc:</label>
       <%= text_area 'task', 'description' %>
    </div>
    
    <div class="row">
       <label for="event_id">For Event:</label>
       <%= collection_select :task, :event_id, @event_list, :id, :title, :include_blank => 'None' %>
    </div>
    

  </fieldset>

<%= submit_tag "Create", :class => 'whiteButton' %>
<% end  %>

</div>

