<div class='modebar'>
    <%= link_to 'Back', {:action => 'index'}, :class => 'leftButton' %>
    <h1 class="title">New Task</h1>
</div>


<div class='panel'>

<% form_tag({:action => 'create', :selected => 'true'}) do %>

  <fieldset>

    <div class="row">
       <label for="task_title">Title:</label>
       <%= text_field 'task', 'title' %>
    </div>

    <div class="row">
       <label for="task_date">Date:</label>
       <%= text_field 'task', 'date' %>
    </div>

    <div class="row">
       <label for="task_description">Desc:</label>
       <%= text_area 'task', 'description' %>
    </div>
    
    <div class="row">
       <label for="event_id">Associate w. Event:</label>
       <%= collection_select :task, :event_id, Event.find(:all), :id, :title %>
    </div>
    

  </fieldset>

<%= submit_tag "Create", :class => 'whiteButton' %>
<% end  %>

</div>

