

<div class="modebar">
<%=
    if((@month.to_i == 1 || @month.to_i == 3 || @month.to_i == 5 || @month.to_i == 7 || @month.to_i == 8 || @month.to_i == 10 || @month.to_i == 12) && (@day.to_i == 31)) 
      if (@month.to_i == 12)
         link_to '>', {:year=>(@year.to_i + 1), :month=> 1, :day => 1}, :target => '_self', :class => 'button'
      else 
         link_to '>', {:year=>@year.to_i, :month=>(@month.to_i + 1), :day => 1}, :target => '_self', :class => 'button'
      end
    elsif((@month.to_i == 4 || @month.to_i == 6 || @month.to_i == 9 || @month.to_i == 11) && (@day.to_i == 30)) 
	link_to '>', {:year=>@year.to_i, :month=>(@month.to_i + 1), :day => 1}, :target => '_self', :class => 'button'
    elsif((@month.to_i == 2) && (@day.to_i == 28)) 
	link_to '>', {:year=>@year.to_i, :month=>(@month.to_i + 1), :day => 1}, :target => '_self', :class => 'button'
    else
      link_to '>', {:year=>@year.to_i, :month=>@month.to_i, :day => (@day.to_i + 1)}, :target => '_self', :class => 'button' 
    end
%>

<h1>
<%   date = Date.new(@year.to_i, @month.to_i, @day.to_i) %>
<%=  date.strftime("%a - %b %d") %>
</h1>

<%=
    if(@month.to_i == 1 && @day.to_i == 1) 
      link_to '<', {:year=>(@year.to_i - 1), :month=> 12, :day=> 31}, :target => '_self', :class => 'leftButton'
    elsif ((@month.to_i == 2 || @month.to_i == 4 || @month.to_i == 6 || @month.to_i == 8 || @month.to_i == 9 || @month.to_i == 11) && (@day.to_i == 1))
      link_to '<', {:year=> @year.to_i, :month=>(@month.to_i - 1), :day=> 31}, :target => '_self', :class => 'leftButton' 
    elsif ((@month.to_i == 5 || @month.to_i == 7 || @month.to_i == 10 || @month.to_i == 12) && (@day.to_i == 1))
      link_to '<', {:year=> @year.to_i, :month=>(@month.to_i - 1), :day=> 30}, :target => '_self', :class => 'leftButton'
    elsif (@month.to_i == 3 && @day.to_i == 1)
      link_to '<', {:year=> @year.to_i, :month=>(@month.to_i - 1), :day=> 28}, :target => '_self', :class => 'leftButton'
    else
      link_to '<', {:year=>@year.to_i, :month=>@month.to_i, :day => (@day.to_i - 1)}, :target => '_self', :class => 'leftButton'
    end 
%>  		
  </div>
<% if @events.blank? %>
  <p>You have no events for this date.</p>


<% else %>
  <ul id="events">

    <% @events.each do |c| %>
      <% if c.occurs_today?(@year, @month, @day) %>
        <div class="group_title"><%= c.time_start.strftime("%I:%M %p") + ' - ' + c.time_end.strftime("%I:%M %p") %></div>

        <li class='with_text'>
        <%= link_to "<div class='event_link'>" + c.title + " " + "<span class='small_text'>" + c.description + "</span></div>", {:controller => 'events', :action => 'edit', :id => c.id}, :target => '_self'  %>
        </li>
      <% end %>

    <% end %>
  </ul>
<%end%>







