<div class='panel'>

<% form_tag({:action => 'create', :selected => 'true'}) do %>

  <fieldset>

    <%= link_to 'Back', {:action => 'index'}, :class => 'leftButton' %>

    <h3 class="title">Create New Task</h3>

    <div class="row">
       <label for="task_title">Title:</label>
       <%= text_field 'task', 'title' %>
    </div>

    <div class="row">
       <label for="task_date">Date:</label>
       <%= text_field 'task', 'date' %>
    </div>

    <div class="row">
       <label for="task_description">Desc:</label>
       <%= text_area 'task', 'description' %>
    </div>

  </fieldset>

<%= submit_tag "Create", :class => 'whiteButton' %>
<% end  %>

</div>

