<fieldset>

  <div class='group_title'>General Information: </div>

  <div class="row">
     <label for="event_title">Title:</label>
     <%= text_field 'event', 'title' %>
  </div>

  <div class='row'>
     <label for="event_location">Loc:</label>
     <%= text_field 'event', 'location_name' %>
  </div>

  <div class="row">
     <label for="event_description">Desc:</label>
     <%= text_area 'event', 'description' %>
  </div>

  <div class="row">
     <label for="event_time_start">Start:</label>
     <%= calendar_date_select 'event', 'time_start', :month_year => "label"%>
  </div>

  <div class="row">
     <label for="event_time_end">End:</label>
    <%= calendar_date_select 'event', 'time_end', :month_year => "label"%>
  </div>

  <div>
    <br />
    <div class='group_title'>Reoccurs: </div>

  <div id=reoccurrence_info>
   <!-- < for reoccurrence in Reoccurrence.find(:all) %>
      <div class= 'row' >
        <label for="event_time_end"><= reoccurrence.title %></label>
        <= radio_button_tag 'event[reoccurrence_ids][]', reoccurrence.id, @event.reoccurrences.include?(reoccurrence) %>
      </div>
     
    < end %>
  -->

      <div class= 'row' >
        <label for="event_time_end"> How Often: </label>
        <%= collection_select(:event, :reoccurrence_id, @reoccurrence_list, :id, :title) %>
      </div>

    </div>

    <div class= 'row' >
        <label for="reoccurs_until">Until: </label>
        <%= calendar_date_select 'event', 'reoccurs_until', :month_year => "label"%>
    </div>
 </div>

<!--    
    <div class= 'row' >
       <label for='custom_reoccurrence'> Customize: </label>
       = link_to 'Edit', {:controller=>'reoccurrences', :action=>'index'}, :class=>'edit_reocc_button' %>
       
       = link_to 'New', {:controller=>'reoccurrences', :action=>'new'}, :class=>'new_reocc_button' %>
    </div>   
-->
   
 <% if @view == 'edit' %>
  <br />
  <div class='group_title'>Tasks: </div>
  <ul class="task_listing">
    <% if (@tasks.empty?) %>
       None
    <% else %>
       <%count = 1%>
       <% @tasks.each do |t| %>
         <li>
         <%= count.to_s + ") "
            link_to t.title, {:controller => 'tasks', :action => 'edit', :id => t.id} 
         %>
       </li>
       <% count = count + 1 %>
    <% end %>
  <% end %>
  <% end %>
 </ul>
</fieldset>
