
<div class='panel'>
 
<% form_tag '/events/update/'+@event.id.to_s, :selected => 'true' do %>

  <fieldset>

       <%= link_to 'Back', :back, :class => 'leftButton' %>
       <%= link_to "Delete", {:action => 'delete', :id => @event},       
:confirm => "Are you sure you want to delete this item?", :target => '_self', :class => 'button' %>

    <h3 class="title">Edit Event</h3>

    <div class="row">
       <label for="event_title">Title:</label>
       <%= text_field 'event', 'title' %>
    </div>

    <div class='row'>
       <label for="event_location">Location:</label>
       <%= text_field 'event', 'title' %>
    </div>

    <div class="row">
       <label for="event_description">Desc:</label>
       <%= text_area 'event', 'description' %>
    </div>

    <div class="row">
       <label for="event_time_start">Begin:</label>
       <%= text_field 'event', 'time_start' %>
          <!-- <%= calendar_date_select 'event', 'time_start' %> -->
    </div>

    <div class="row">
       <label for="event_time_end">End:</label>
       <%= text_field 'event', 'time_end' %>
          <!-- <%= calendar_date_select 'event', 'time_end' %> --> 
    </div>

  </fieldset>

<%= submit_tag "Save Changes", :class => 'whiteButton' %>
<% end %>

</div>
